body {
    background-image: url('img/orange-blue-green-background-fire-that-is-on-and-backgrounds_9578257.jpg');
    background-size: cover; /* Faz a imagem cobrir todo o fundo proporcionalmente */
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
    color: white;
}

/* Efeito de escurecimento do fundo */
body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Escurece o fundo */
    z-index: 1;
}

/* Estilo do container */
.container {
    flex: 1;
    text-align: center;
    margin-top: 70px;
    z-index: 2;
    position: relative;
}

/* Estilo do rodapé */
footer {
    margin-top: auto;
    padding: 20px;
    background-color: #680000;
    color: white;
    text-align: center;
    z-index: 2;
}
