body {
  font-family: sans-serif;
  background-color: #f8f9fa; /* Cor de fundo geral */
}

.container {
  max-width: 800px; /* Largura máxima do container */
  margin: 0 auto; /* Centraliza o container */
  padding: 20px; /* Espaçamento interno */
  background-color: #ffffff; /* Fundo branco */
  border-radius: 8px; /* Bordas arredondadas */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra do container */
}

.card {
  background-color: #fff; /* Cor de fundo do cartão */
  border-radius: 8px; /* Bordas arredondadas */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra do cartão */
  padding: 20px; /* Espaçamento interno do cartão */
  margin: 10px; /* Margem externa do cartão */
  flex: 1; /* Flexibilidade do cartão */
}

.card-title {
  font-size: 18px; /* Tamanho da fonte do título */
  font-weight: bold; /* Negrito para o título */
  margin-bottom: 10px; /* Margem inferior do título */
}

.chart {
  width: 100%; /* Largura total do gráfico */
  height: 300px; /* Altura do gráfico */
}

.legend {
  display: flex; /* Flexbox para a legenda */
  margin-top: 10px; /* Margem superior da legenda */
}

.legend-item {
  display: flex; /* Flexbox para cada item da legenda */
  align-items: center; /* Alinhamento vertical */
  margin-right: 10px; /* Margem à direita */
}

.legend-color {
  width: 15px; /* Largura do círculo da legenda */
  height: 15px; /* Altura do círculo da legenda */
  border-radius: 50%; /* Círculo */
  margin-right: 5px; /* Margem à direita do círculo */
}

.data-label {
  font-weight: bold; /* Negrito para os rótulos de dados */
}

.data-value {
  margin-left: 5px; /* Margem à esquerda do valor dos dados */
}

/* Estilos para o formulário */
h2 {
  text-align: center; /* Centraliza o título do formulário */
  color: #343a40; /* Cor do título */
}

.form-group {
  margin-bottom: 15px; /* Margem inferior para os grupos de formulário */
}

.form-control {
  border-radius: 4px; /* Bordas arredondadas para os campos de entrada */
  border: 1px solid #ced4da; /* Borda cinza clara */
}

.btn-primary {
  background-color: #007bff; /* Cor de fundo do botão */
  border-color: #007bff; /* Cor da borda do botão */
}

.btn-primary:hover {
  background-color: #0056b3; /* Cor de fundo ao passar o mouse */
  border-color: #0056b3; /* Cor da borda ao passar o mouse */
}

/* Estilos para a tabela */
.table {
  margin-top: 30px; /* Margem superior para a tabela */
}

.table th {
  background-color: red; /* Fundo azul para os cabeçalhos */
  color: white; /* Cor branca para o texto dos cabeçalhos */
}

.table td {
  border: 1px solid #dee2e6; /* Borda sólida para as células */
  padding: 12px; /* Espaçamento interno das células */
}

.table th, .table td {
  text-align: center; /* Alinhamento central para os cabeçalhos e células */
}
