/* Estilos Gerais */
body {
  font-family: sans-serif;
  background-color: #2b2828;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Altura mínima de 100% da altura da visualização */
  margin: 0;
}

.container {
  max-width: 100%;
  margin: 0 auto;
  background-color: #2b2828;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding-right: 0;
  flex: 1; /* Faz com que o container ocupe o espaço disponível */
}

/* Navbar */
.custom-navbar {
  background-color: #444444;
}

.navbar-brand {
  color: #680000;
  font-weight: bold;
  margin-left: 10px;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  font-weight: bold;
}

nav ul li {
  margin-left: 80px;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.nav-link {
  color: white;
}

.nav-link:hover {
  color: #f0f0f0;
}

/* Outros estilos */
h2 {
  color: white;
}

.table {
  color: white;
  margin-top: 30px;
}

.table th {
  background-color: #680000;
  color: white;
}

.table td {
  border: 1px solid #dee2e6;
  padding: 12px;
}

.table th,
.table td {
  text-align: center;
}

/* Footer fixo no final da página */
.footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  width: 100%;
}

.footer a {
  color: #ffc107;
  text-decoration: none;
}

.footer a:hover {
  color: #fff;
  text-decoration: underline;
}
